# 시스템 파일
*.log
*.tmp
*.bak
*.swp

# Windows 디렉토리
Application\ Data/
Cookies/
Local\ Settings/
My\ Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작\ 메뉴/

# 특정 사용자 디렉토리
/Users/YourUsername/

# 특정 파일 및 폴더 무시
/node_modules
/.vscode
/.idea
*.class
*.jar
*.war
*.ear
*.db
.env  # 이 줄을 추가하세요
